<aside class="container component-navigate">
  <h2>Browse Topics</h2>
  <nav class="container">
    <h3>Filters:</h3>
    <h4>Type</h4>
    <div class="container">
      <table>
        <tr>
          <td><input type="checkbox" id="filter.types.all" name="filter.types.all"></td>
          <td><label for="filter.types.all">All</label></td>
        </tr>
        <tr>
          <td><input type="checkbox" id="filter.books" name="books"></td>
          <td><label for="filter.books">Books</label></td>
        </tr>
        <tr>
          <td><input type="checkbox" id="filter.articles" name="articles"></td>
          <td><label for="filter.articles">Articles</label></td>
        </tr>
        <tr>
          <td><input type="checkbox" id="filter.sections" name="sections"></td>
          <td><label for="filter.sections">Sections</label></td>
        </tr>
      </table>
    </div>
    <h4>Topics</h4>

    <form method="get" action="">
      <table>
        <tr>
          <td><input type="checkbox" id="filter.topics.all" name="filter.topics.all"></td>
          <td><label for="filter.topics.all">All</label></td>
        </tr>
        {% for topic in topics %}
        <tr>
          <td><input type="checkbox" id="filter.topics.{{topic}}" name="topic.{{topic}}"></td>
          <td><label for="filter.topics.{{topic}}">{{topic}}</label></td>
        </tr>
        {% endfor %}
      </table>

      <input type="submit" name="submit" value="ok">
    </form>
  </nav>
</aside>